body {
    font-family: 'Open Sans', sans-serif;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.div-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-account {
    font-size: 14px;
}