<!DOCTYPE html>
<html>
    <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../custom_mvc/public/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../custom_mvc/public/css/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    </head>
    <header>
    </header>
        {% block header-content %}
        {% endblock %}
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        {% block footer-content %}
        {% endblock %}
    </footer>
</html>