{% extends 'inc/base.html.twig' %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="center">Welcome to MVC</h1>
    </div>

{% endblock %}