{% extends 'inc/base.html.twig' %}

{% block head %}

    {{ parent() }}

{% endblock %}

{% block content %}

<div class="home">
    <div class="container">
        <h1 class="center">Welcome</h1>
        <hr />
        <p>This is a custom MVC framework made by Ash Laidlaw. <a href="{{ URL }}/about">Click here</a> to learn more!</p>
    </div>

</div>

{% endblock %}